.chat{
    height: 100vh;
}

.main{
    height: 73vh;
   
}

.content{
    overflow: scroll;
    height: 50vh;
}

.content::-webkit-scrollbar{
    visibility: hidden;
}


.navbarContainer{
    padding-left: 3vw;
    padding-right: 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom right, #001f3f,#01376d,#0355a7, #0074D9, #6bd0f8, #FFFFFF);
    height: 10vh;
    
}

.footerContainer{
    margin-left: 3vw;
    margin-right: 3vw;
    position: relative;
}

@media only screen and (max-width: 768px) {
    .main{
        height: 40vh;
    }

    .content{
        height: 25vh;
    }

    .navbarContainer{
        height: 8vh;
    }
}